html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: Helvetica, sans-serif;
  color: white;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
}

.works {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  background: #a8d0e6;
  flex: 2 0 65%;
  padding: 20px;
  justify-content: space-between;
}

h1 {
  font-size: 35px;
  padding-left: 35px;
}

h2 {
  text-transform: uppercase;
}

.side {
  display: flex;
  flex: 1 0 35%;
  flex-direction: column;
}

.vision {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
  background: #fa7774;
  padding-left: 20px;
  justify-content: space-between;
}

.about {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
  background: #2c3970;
  padding-left: 20px;
  justify-content: space-between;
}